<header class="header">
  <button class="nav__btn fa fa-bars" id="navBtn">Toggle Menu</button>
  <nav class="nav container" id="nav">
    <ul class="nav__list">
      <li class="nav__item">
        <a class="nav__link" href="#home">Home</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="#main-event">Main Event</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="#rsvp">RSVP</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="#additional-info">Additional Info</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="#sponsorships">Sponsorships</a>
      </li>
    </ul>
  </nav>
</header>