<header class="header">
  <nav class="nav container">
    <ul class="nav__list">
      <li class="nav__item">
        <a class="nav__link" href="#">Home</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="#">Main Event</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="#">RSVP</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="#">Additional Info</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="#">Sponsorships</a>
      </li>
    </ul>
  </nav>
</header>