.data-list {
  @media (min-width: $small-media) {
    display: flex;
    flex-wrap: wrap;
  }
}

dt {
  @media (min-width: $small-media) {
    text-align: right;
    padding: 0 15px 0 0;
  }
}

dd {
  margin: 0 0 25px 0;

  // @media (min-width: $small-media) {
  //   flex: 1 1 75%;
  // }
}

.data-list--main {
  dt {
    @media (min-width: $small-media) {
      flex: 1 1 33.33%;
    }
  }

  dd {
    @media (min-width: $small-media) {
      flex: 1 1 66.66%;
    }
  }
}

.data-list--rsvp {
  dt {
    @media (min-width: $small-media) {
      flex: 1 1 66.66%;
    }
  }

  dd {
    @media (min-width: $small-media) {
      flex: 1 1 33.33%;
    }
  }
}