.section--rsvp {
  p {
    @media (min-width: $small-media) {
      display: flex;
    }
  }

  strong {
    display: block;

    @media (min-width: $small-media) {
      flex: 0 0 320px;
      text-align: right;
      padding-right: 10px;
    }
  }

  a {
    display: block;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 600;
  }
}