.welcome {
  .container {
    @media (min-width: $small-media) {
      display: flex;
    }
  }
}

.welcome__copy-wrapper {
  @media (min-width: $small-media) {
    flex: 1 1 75%;
  }
}

.logo__wrapper {
  width: 80%;
  margin: 0 auto 25px auto;

  @media (min-width: $small-media) {
    flex: 1 1 25%;
    margin: 0 25px 0 0;
  }
}

.logo {
  display: block;
}